.cart {
    height: 55px;
    background-color: #eee;
    position: fixed;
    width: 100%;
    max-width: 640px;
    bottom: 0;
    padding: 10px;
}
.main .item{
    border-top: 1px solid #ccc;
    padding:10px;
}
.main .item .price{
    font-size:16px;
    /*text-decoration:;*/
    color: red;
}
.main .item .oldPrice{
    font-size:12px;
    text-decoration: line-through;
}
.main .item .size{
    padding:5px;
    background-color: #f5f5f5;
    line-height: 36px;
    border: 1px solid #ccc;
}
.main .item .size.now{
    background-color: #069;
}
.item .info {
    font-size: 12px;
}