@charset "UTF-8";
.main .top {
    width: 100%;
    height: 55px;
    /*background-color: red;*/
    padding: 10px 10px;
    position: relative;
}
.main .top input{
    width: 100%;
    height: 35px;
    line-height: 35px;
    /*background-color: green;*/
    border:1px solid #069;
    border-radius:5px;
    font-size:12px;
}
.main .top button{
    height: 35px;
    position: absolute;
    top:10px;
    right:10px;
}
.main .nav{
    width: 100%;
    height: 30px;
    background-color: #cccccc;
    padding:0 10px;
}
.main .nav  a{
    float: left;
    width: 25%;
    text-align: center;
    height: 30px;
    line-height:30px;
    font-size: 12px;
}

.main .nav  a.now{
    color: darkorange;
}
.product{
    padding: 10px;
    position: relative;
}
.product .item{
    width: 48%;
    border:1px solid #cccccc;
    text-align: center;
    float: left;
    padding: 10px;
    margin-top: 10px;
}

.product .item:nth-child(odd){
    margin-right: 4%;
}
.product .item p span:first-child{
    color:red;
}
.product .item p span:last-child{
    text-decoration: line-through;
}

.product .box{
    width: 40px;
    height: 40px;
    position: absolute;
    border:2px solid #069;
    left: 50%;
    transform:translateX(-50%);
    top: 200px;
    animation:zhuan 1s infinite ease-in-out;
}
@keyframes zhuan{
from{
    transform:translateX(-50%) rotate(0deg);
}
to{
    transform:translateX(-50%) rotate(360deg);

    }
}
